.App {
  font-family: sans-serif;
  text-align: center;
}
.searchBar {
  margin-top: 50px;
  width: 500px;
  padding: 5px;
}
.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid lightgreen;
  height: 500px;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
}
.imgGrid {
  padding: 10px;
}
